<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andrew.smartielts.writing.mapper.WritingRecordMapper">

    <resultMap id="WritingRecordMap" type="com.andrew.smartielts.writing.domain.pojo.WritingRecord">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="questionId" column="question_id"/>
        <result property="inputType" column="input_type"/>
        <result property="textContent" column="text_content"/>
        <result property="extractedText" column="extracted_text"/>
        <result property="targetScore" column="target_score"/>
        <result property="aiScore" column="ai_score"/>
        <result property="aiFeedback" column="ai_feedback"/>
        <result property="aiRawResponse" column="ai_raw_response"/>
        <result property="aiStatus" column="ai_status"/>
        <result property="aiProvider" column="ai_provider"/>
        <result property="aiModel" column="ai_model"/>
        <result property="createdTime" column="created_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="deletedTime" column="deleted_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_id, question_id, input_type, text_content, extracted_text,
        target_score, ai_score, ai_feedback, ai_raw_response,
        ai_status, ai_provider, ai_model,
        created_time, is_deleted, deleted_time
    </sql>

    <insert id="insert"
            parameterType="com.andrew.smartielts.writing.domain.pojo.WritingRecord"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO writing_record (
            user_id, question_id, input_type, text_content, extracted_text,
            target_score, ai_score, ai_feedback, ai_raw_response,
            ai_status, ai_provider, ai_model,
            created_time, is_deleted, deleted_time
        ) VALUES (
                     #{userId}, #{questionId}, #{inputType}, #{textContent}, #{extractedText},
                     #{targetScore}, #{aiScore}, #{aiFeedback}, #{aiRawResponse},
                     #{aiStatus}, #{aiProvider}, #{aiModel},
                     #{createdTime}, #{isDeleted}, #{deletedTime}
                 )
    </insert>

    <select id="findByIdForUser" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record
        WHERE id = #{recordId}
        AND user_id = #{userId}
        AND is_deleted = 0
        LIMIT 1
    </select>

    <select id="findAnyByIdForUser" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record
        WHERE id = #{recordId}
        AND user_id = #{userId}
        LIMIT 1
    </select>

    <select id="findByIdForAdmin" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record
        WHERE id = #{recordId}
        LIMIT 1
    </select>

    <select id="findByUserId" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record
        WHERE user_id = #{userId}
        AND is_deleted = 0
        ORDER BY created_time DESC, id DESC
    </select>

    <select id="findAll" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record
        ORDER BY created_time DESC, id DESC
    </select>

    <update id="updateExtractedText">
        UPDATE writing_record
        SET extracted_text = #{extractedText}
        WHERE id = #{recordId}
    </update>

    <update id="updateAiResult"
            parameterType="com.andrew.smartielts.writing.domain.pojo.WritingRecord">
        UPDATE writing_record
        SET ai_score = #{aiScore},
            ai_feedback = #{aiFeedback},
            ai_raw_response = #{aiRawResponse},
            ai_status = #{aiStatus},
            ai_provider = #{aiProvider},
            ai_model = #{aiModel}
        WHERE id = #{id}
    </update>

    <update id="updateAiStatus">
        UPDATE writing_record
        SET ai_status = #{aiStatus}
        WHERE id = #{id}
    </update>

    <update id="logicalDeleteById">
        UPDATE writing_record
        SET is_deleted = 1,
            deleted_time = #{deletedTime}
        WHERE id = #{id}
          AND is_deleted = 0
    </update>

    <update id="restoreByIdForAdmin">
        UPDATE writing_record
        SET is_deleted = 0,
            deleted_time = NULL
        WHERE id = #{recordId}
          AND is_deleted = 1
    </update>

    <select id="countUserActive" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM writing_record wr
        <where>
            wr.user_id = #{userId}
            AND wr.is_deleted = 0
            <if test="query != null and query.questionId != null">
                AND wr.question_id = #{query.questionId}
            </if>
            <if test="query != null and query.aiStatus != null and query.aiStatus != ''">
                AND wr.ai_status = #{query.aiStatus}
            </if>
            <if test="query != null and query.inputType != null and query.inputType != ''">
                AND wr.input_type = #{query.inputType}
            </if>
            <if test="query != null and query.targetScore != null">
                AND wr.target_score = #{query.targetScore}
            </if>
            <if test="query != null and query.startTime != null">
                AND wr.created_time <![CDATA[>=]]> #{query.startTime}
            </if>
            <if test="query != null and query.endTime != null">
                AND wr.created_time <![CDATA[<=]]> #{query.endTime}
            </if>
        </where>
    </select>

    <select id="pageUserActive" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record wr
        <where>
            wr.user_id = #{userId}
            AND wr.is_deleted = 0
            <if test="query != null and query.questionId != null">
                AND wr.question_id = #{query.questionId}
            </if>
            <if test="query != null and query.aiStatus != null and query.aiStatus != ''">
                AND wr.ai_status = #{query.aiStatus}
            </if>
            <if test="query != null and query.inputType != null and query.inputType != ''">
                AND wr.input_type = #{query.inputType}
            </if>
            <if test="query != null and query.targetScore != null">
                AND wr.target_score = #{query.targetScore}
            </if>
            <if test="query != null and query.startTime != null">
                AND wr.created_time <![CDATA[>=]]> #{query.startTime}
            </if>
            <if test="query != null and query.endTime != null">
                AND wr.created_time <![CDATA[<=]]> #{query.endTime}
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">
                wr.created_time ASC, wr.id ASC
            </when>
            <otherwise>
                wr.created_time DESC, wr.id DESC
            </otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countUserDeleted" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM writing_record wr
        <where>
            wr.user_id = #{userId}
            AND wr.is_deleted = 1
        </where>
    </select>

    <select id="pageUserDeleted" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record wr
        <where>
            wr.user_id = #{userId}
            AND wr.is_deleted = 1
        </where>
        ORDER BY
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">
                wr.deleted_time ASC, wr.id ASC
            </when>
            <otherwise>
                wr.deleted_time DESC, wr.id DESC
            </otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAdminActive" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM writing_record wr
        <where>
            wr.is_deleted = 0
            <if test="query != null and query.userId != null">
                AND wr.user_id = #{query.userId}
            </if>
            <if test="query != null and query.questionId != null">
                AND wr.question_id = #{query.questionId}
            </if>
            <if test="query != null and query.aiStatus != null and query.aiStatus != ''">
                AND wr.ai_status = #{query.aiStatus}
            </if>
            <if test="query != null and query.inputType != null and query.inputType != ''">
                AND wr.input_type = #{query.inputType}
            </if>
            <if test="query != null and query.targetScore != null">
                AND wr.target_score = #{query.targetScore}
            </if>
            <if test="query != null and query.startTime != null">
                AND wr.created_time <![CDATA[>=]]> #{query.startTime}
            </if>
            <if test="query != null and query.endTime != null">
                AND wr.created_time <![CDATA[<=]]> #{query.endTime}
            </if>
        </where>
    </select>

    <select id="pageAdminActive" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record wr
        <where>
            wr.is_deleted = 0
            <if test="query != null and query.userId != null">
                AND wr.user_id = #{query.userId}
            </if>
            <if test="query != null and query.questionId != null">
                AND wr.question_id = #{query.questionId}
            </if>
            <if test="query != null and query.aiStatus != null and query.aiStatus != ''">
                AND wr.ai_status = #{query.aiStatus}
            </if>
            <if test="query != null and query.inputType != null and query.inputType != ''">
                AND wr.input_type = #{query.inputType}
            </if>
            <if test="query != null and query.targetScore != null">
                AND wr.target_score = #{query.targetScore}
            </if>
            <if test="query != null and query.startTime != null">
                AND wr.created_time <![CDATA[>=]]> #{query.startTime}
            </if>
            <if test="query != null and query.endTime != null">
                AND wr.created_time <![CDATA[<=]]> #{query.endTime}
            </if>
        </where>
        ORDER BY
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">
                wr.created_time ASC, wr.id ASC
            </when>
            <otherwise>
                wr.created_time DESC, wr.id DESC
            </otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <select id="countAdminDeleted" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM writing_record wr
        <where>
            wr.is_deleted = 1
        </where>
    </select>

    <select id="pageAdminDeleted" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record wr
        <where>
            wr.is_deleted = 1
        </where>
        ORDER BY
        <choose>
            <when test="query != null and query.sortDirection != null and query.sortDirection.name() == 'ASC'">
                wr.deleted_time ASC, wr.id ASC
            </when>
            <otherwise>
                wr.deleted_time DESC, wr.id DESC
            </otherwise>
        </choose>
        LIMIT #{limit} OFFSET #{offset}
    </select>

    <update id="softDeleteById">
        UPDATE writing_record
        SET is_deleted = 1,
            deleted_time = NOW()
        WHERE id = #{recordId}
          AND is_deleted = 0
    </update>


    <update id="softDeleteByIdForUser">
        UPDATE writing_record
        SET is_deleted = 1,
            deleted_time = NOW()
        WHERE id = #{recordId}
          AND user_id = #{userId}
          AND is_deleted = 0
    </update>

    <update id="restoreByIdForUser">
        UPDATE writing_record
        SET is_deleted = 0,
            deleted_time = NULL
        WHERE id = #{recordId}
          AND user_id = #{userId}
          AND is_deleted = 1
    </update>

    <select id="findAnyById" resultMap="WritingRecordMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM writing_record wr
        WHERE wr.id = #{id}
        LIMIT 1
    </select>

    <select id="findRecentActiveByUserId"
            resultType="com.andrew.smartielts.writing.domain.pojo.WritingRecord">
        SELECT
            wr.id,
            wr.user_id,
            wr.question_id,
            wr.input_type,
            wr.text_content,
            wr.extracted_text,
            wr.target_score,
            wr.ai_score,
            wr.ai_feedback,
            wr.ai_raw_response,
            wr.ai_status,
            wr.ai_provider,
            wr.ai_model,
            wr.created_time,
            wr.is_deleted,
            wr.deleted_time
        FROM writing_record wr
        WHERE wr.user_id = #{userId}
          AND wr.is_deleted = 0
        ORDER BY wr.created_time DESC, wr.id DESC
        LIMIT #{limit}
    </select>

    <select id="selectUserAverageScore" resultType="java.math.BigDecimal">
        SELECT AVG(ai_score)
        FROM writing_record
        WHERE user_id = #{userId}
          AND is_deleted = 0
          AND ai_score IS NOT NULL
    </select>

    <select id="findRecentAiFailures" resultMap="WritingRecordMap">
        SELECT <include refid="Base_Column_List"/>
        FROM writing_record
        WHERE is_deleted = 0
          AND ai_status = 'FAILED'
        ORDER BY created_time DESC, id DESC
        LIMIT #{limit}
    </select>

    <select id="countAdminAiFailed" resultType="java.lang.Long">
        SELECT COUNT(1)
        FROM writing_record
        WHERE is_deleted = 0
          AND ai_status = 'FAILED'
    </select>

</mapper>
